* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $poppins, sans-serif;
	background: #131316;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container_padding {
	padding: 100px;
}

.container_padding_x {
	padding: 0 100px;
}

.container_padding_y {
	padding: 100px 0;
}

.container_margin_top {
	margin-top: 100px;
}

@include desktop-screen {
	.container_padding {
		padding: 75px;
	}

	.container_padding_x {
		padding: 0 75px;
	}

	.container_padding_y {
		padding: 75px 0;
	}

	.container_margin_top {
		margin-top: 75px;
	}
}

@include laptop-screen {
	.container_padding {
		padding: 50px;
	}

	.container_padding_x {
		padding: 0 50px;
	}

	.container_padding_y {
		padding: 50px 0;
	}

	.container_margin_top {
		margin-top: 50px;
	}
}

@include tablet-screen {
	.container_padding {
		padding: 50px 20px;
	}

	.container_padding_x {
		padding: 0 20px;
	}

	.container_padding_y {
		padding: 50px 0;
	}

	.container_margin_top {
		margin-top: 50px;
	}
}
